<div >
<div class="login-dark" style="height: 695px;">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="sr-only">Login Form</h2>
      <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
      <div class="title">Covax</div>
      <div class="form-group">
        <span>
          <input required class="form-control" type="email" name="email" placeholder="Email" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
        </span>
        <div *ngIf="submitted && f.username.errors">
        <mat-error *ngIf="f.username.errors && f.username.errors.required">Email is required</mat-error>
        <mat-error *ngIf="f.username.errors && f.username.errors.pattern">Must enter a valid Email</mat-error>
        </div>
      </div>
      <div class="form-group">
        <span>
          <input required class="form-control" type="password" name="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        </span>
        <div *ngIf="submitted && f.password.errors">
          <mat-error *ngIf="f.password.errors && f.password.errors.required">Password is required</mat-error>
          <mat-error *ngIf="f.password.errors && f.password.errors.minlength">Password must be at least 8 characters</mat-error>
          </div>
      </div>
      <div class="form-group"><button class="btn btn-primary btn-block" >Log In</button></div>
      <div *ngIf="showErrorMessage">
        <h8 style="color:red;">Invalid username or password Please try again</h8>
      </div>
      <a class="forgot" routerLink="/password" routerLinkActive="active">Forgot your password?</a>
      <a class="forgot" routerLink="/user" routerLinkActive="active">Sign up</a>
    </form>
</div>
</div>