<!-- <app-ol></app-ol> -->
<mat-toolbar class="mat-elevation-z5 mattoolbar" color="primary">
  <!-- <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button> -->
  <span class="example-spacer"></span>
  <!-- <div fxShow="true" fxHide.lt-md> -->
  <a mat-button routerLink="/home"   class="logo">Cova <span class="logo-span">X</span></a>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/setup_vaccine_station">Setup vaccine station</a>
  <a mat-button routerLink="/saved_locations">Saved Locations</a>
  <a mat-button routerLink="/aboutus">About Us</a>
    <span class="spacer"></span>
    <div class="loginSection">
    <span class="username">
      {{UserName}}
    </span>
        <button mat-button (click)= "logout()">
      <mat-icon>logout</mat-icon>
    </button>
    </div>
  <!-- </div>
</mat-toolbar-row> -->
</mat-toolbar> 

<!-- <mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/setup_vaccine_station">Setup vaccine station</a>
      <a mat-button routerLink="/saved_locations">Saved Locations</a>
        <span class="spacer"></span>
        <div class="loginSection">
        <span class="username">
          {{UserName}}
        </span>
            <button mat-button (click)= "logout()">
          <mat-icon>logout</mat-icon>
        </button>
        </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>main content</mat-sidenav-content>
</mat-sidenav-container> -->

<main>
  <!-- <div id="map" class="map" style="    max-width: 100% !important;
  height: 49rem;"><div id="popup"></div></div>
<div id="mouse-position"></div> -->

<main>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let article of mArticles">
<mat-card class="example-card mat-elevation-z4" >
  <a id="news" href={{article.url}}>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="title">{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
  </mat-card-header>
</a>
  <img mat-card-image class="img-article" src={{article.urlToImage}} alt="">
  <mat-card-content>
    <p>
      {{article.description}}
    </p>
  </mat-card-content>
</mat-card> 
</div>
</div>
</div>
</main>

<!-- <mat-tab label="Landkarte">
  <ng-template matTabContent>
  <app-mapdata id="map"></app-mapdata>
  </ng-template>
</mat-tab> -->

<mat-toolbar color="primary" class="mat-elevation-z5  mattoolbar1">
<!-- <mat-toolbar color="primary" class="mat-elevation-z5  mattoolbar1">
  <span style="margin-left: 39rem;"><mat-icon>copyright</mat-icon> All rights reserved</span>	
</mat-toolbar> -->

<div id="myModal" class="modal">
  <!-- Modal content-->
  <div class="modal-content" style="color: black;">
    <div class="modal-header">
      <h4 class="modal-title">Station Details</h4>
      <button type="button" class="close" (click)="closedailog()" data-dismiss="modal">&times;</button>
      
    </div>
    <div class="modal-body">
      <div>
        <div>House Number : {{housenumber}}</div>
        <div>Name  : {{names}}</div>
        <div>Street : {{street}}</div>
        <div>Postcode : {{postcode}}</div>
        <div>Phone : {{phone}}</div>
      </div>
    </div>
  </div>


</div>