<div>
    <div class="login-dark" style="height: 1000px;">
      <form [formGroup]="passwordChange" (ngSubmit)="onSubmit()">
        <h2 class="sr-only">Login Form</h2>
      <div class="title">Forgot Password</div>
      <div >
        <mat-form-field appearance="outline" style="width: 240px;margin-right: 18%;">
            <mat-label>Enter Your Email</mat-label>
            <input matInput placeholder="pat@example.com" formControlName="email" required [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <mat-error *ngIf="f.email.errors && f.email.errors.required">Email is required</mat-error>
            <mat-error *ngIf="f.email.errors && f.email.errors.pattern">Must enter a valid Email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-right: 18%;">
          <mat-label>New password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password" required [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <mat-error *ngIf="f.password.errors && f.password.errors.required">Password is required</mat-error>
              <mat-error *ngIf="f.password.errors && f.password.errors.minlength">Password must be at least 8 characters</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  formControlName="confPassword" required [ngClass]="{ 'is-invalid': submitted && f.confPassword.errors }">
          <mat-error *ngIf="f.confPassword.errors && f.confPassword.errors.required">Confirm Password is required</mat-error>
          <mat-error *ngIf="f.confPassword.errors && f.confPassword.errors.mustMatch">Passwords must match</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
  </div> 
  <div class="row">
    <button style="float: right;float: right;margin-right: 1.4rem;width: 10rem;"  mat-raised-button color="primary">Verify Email</button>
  </div> 
  <div class="row">
    <a  style="float: right;float: right;margin-right: 1.4rem;width: 14rem;" routerLink="/login" routerLinkActive="active">Login</a>
  </div>  
</form>
</div>
</div>