<div>
    <div class="login-dark">
      <form>
        <h2 class="sr-only">Login Form</h2>
      <div class="title">Forgot Password</div>
      <div >
        <mat-form-field appearance="outline" style="width: 240px;margin-right: 18%;">
            <mat-label>Enter Your Email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="margin-right: 18%;">
          <mat-label>New password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  [formControl]="password" required>
          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  [formControl]="Conf_password" required>
          <mat-error *ngIf="Conf_password.invalid">{{getConfPasswordErrorMessage()}}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
  </div> 
  <div class="row">
    <button style="float: right;float: right;margin-right: 1.4rem;width: 10rem;" (click)="forgotPassword()"  mat-raised-button color="primary">Reset Password</button>
  </div> 
  <div class="row">
    <a  style="float: right;float: right;margin-right: 1.4rem;width: 14rem;" routerLink="/login" routerLinkActive="active">Login</a>
  </div>  
</form>
</div>
</div>