<!-- Welcome to the Covax
<button type="button" class="btn btn-primary" 
        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
Button with tooltip
</button>
<button mat-flat-button color="primary" (click)="setCenter()"  >Primary</button>
<div>
  <div>
      <label for="latitude">Latitude:</label>
      <input id="latitude" type="number" [(ngModel)]="latitude" placeholder="Latitude">
  </div>

  <div>
      <label for="longitude">Longitude:</label>
      <input id="longitude" type="number" [(ngModel)]="longitude" placeholder="Longitude">
  </div>
  <button (click)="setCenter()">Go</button>
</div>
<br>
<div id="map" class="map"><div id="popup"></div></div>
<div id="mouse-position"></div> -->
<!-- <app-ol></app-ol> -->
<!-- <app-Home></app-Home> -->
<!-- <div id="mouse-position"></div> -->
<!-- <app-ol2></app-ol2> -->
<!-- <app-login></app-login> -->
<!-- <app-signup></app-signup> -->
<router-outlet></router-outlet>