

<!-- <app-ol></app-ol> -->
<mat-toolbar class="mat-elevation-z5 mattoolbar" color="primary">
  <span class="example-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
  <a mat-button routerLink="/home"  class="logo">Cova <span class="logo-span">X</span></a>
  <a mat-button routerLink="/home" >Home</a>
  <a mat-button routerLink="/setup_vaccine_station" >Setup vaccine station</a>
  </div>
    <span class="spacer"></span>
    <div class="loginSection">
    <span class="username">
      {{UserName}}
    </span>
        <button mat-button (click)= "logout()">
      <mat-icon>logout</mat-icon>
    </button>
    </div>
</mat-toolbar>

<main style="min-height: 40rem;">
  <div style="margin-top: 5px;">
    <mat-card style="height: 5.5rem;">
    <mat-form-field appearance="fill" style="    margin-left: 0.5rem;margin-right: 2rem;">
      <mat-label>City</mat-label>
      <mat-select [(value)]="selected" required>
        <mat-option value="Frankfurt am main">Frankfurt am main</mat-option>
        <mat-option value="Berlin">Berlin</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="GetLocationToSetUpVStation()" >Search</button>
  </mat-card>
  </div>
  <div >
  <mat-card>
  <div id="map" class="map"><div id="popup"></div></div>
  <div id="mouse-position"></div>
</mat-card>
</div>
</main>

<mat-toolbar color="primary" class="mat-elevation-z5  mattoolbar1">
  <span style="margin-left: 39rem;"><mat-icon>copyright</mat-icon> All rights reserved</span>	
</mat-toolbar>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closedailog()">&times;</span>
    <div>
      Station Name : <input type="text">
    </div>
    <div>
      Address : <span>{{address}}</span>
    </div>
  </div>
  

</div>
